[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyinstaller = "*"
dohq-artifactory = "*"
httpio = "*"
asynctaskgraph = "*"
peewee = "*"

#[requires]
#python_version = "3.7"
